#gameboard {
    background-color: #FFF;
    width: 668px;
}
#goback, #proceed {
    float: left;
    clear: both;
}
.empty {
    background-color: #f2f2f2;
    float: left;
    width: 40px;
    padding: 1em;
    border: 1px solid #666;
}
.live {
    background-color: yellow;
    float: left;
    width: 40px;
    padding: 1em;
    border: 1px solid yellowgreen;
}